<div class="container">
  <h2>New Hero Form</h2>
  <form (ngSubmit)="add()" #heroForm="ngForm">

    <!-- Name -->
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" #name="ngModel" class="form-control"
             [(ngModel)]="model.name" required>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>

    <!-- Alter ego -->
    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" id="alterEgo" name="alterEgo" class="form-control" [(ngModel)]="model.alterEgo">
    </div>

    <!-- Power -->
    <div class="form-group">
      <label for="power">Hero Power</label>
      <select id="power" name="power" required [(ngModel)]="model.power">
        <option *ngFor="let power of powers" [value]="power" class="form-control">
          {{ power }}
        </option>
      </select>
    </div>

    <!-- Submit -->
    <button type="submit" [disabled]="!heroForm.valid">Submit</button>
  </form>
</div>
